streamlit
streamlit-lottie
pandas
numpy
matplotlib
seaborn
scikit-learn
scipy
nltk
wordcloud
textblob
bcrypt
pymongo
wikipedia
SpeechRecognition
gTTS
pyttsx3
pygwalker
plotly
networkx
